
.two-rem-font{
  font-size: 2rem;
} 

.bg_image{
  background-image: url('./slike/background.jpg');
}

#footer {
  position: absolute;
  height: 100px;
}

.breeds{
  background-color: #343a40;
  width: 50vw;
  padding: 1em;
  margin: 10px;
  text-align: center;
  font-size: 1.25em;
  border-radius: 50px;
  margin: auto;
  width: 50%;
}
.text-white{
  color: white;
}